<script>
  import firebase from "@firebase/app";
  // needed for side-effect
  import "@firebase/auth";
  import config from "./config";

  if (!firebase.apps.length) {
    firebase.initializeApp(config);
  }

  let user;

  async function login() {
    const result = await firebase
      .auth()
      .signInWithPopup(new firebase.auth.GoogleAuthProvider());
    user = result.user;
  }

  async function logout() {
    await firebase.auth().signOut();
    user = null;
  }
</script>

<style>
  .profile img.profile {
    width: 50px;
    height: 50px;
    display: block;
  }
</style>

{#if user}
  <div class="profile">
    <p>{user.displayName}</p>
    <img
      class="profile"
      src={user.photoURL}
      alt={`photo of ${user.displayName}`} />
    <button on:click={logout}>Logout</button>
  </div>
{:else}
  <button on:click={login}>Login</button>
{/if}
